.info_personal{
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
}

h1{
    padding-top: 50px;
    margin-left: 70px;
    padding-right: 35px;
}
ul{
    list-style-type: none;
}

p{
    font-size: 20px;
    margin-left: 35px;
}

h2, h3{
    margin-left: 35px;
}



.educacion{
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}


.ed-item{
    display: inline-flex;
    margin: 20px 0 0 0;
    gap: 15px;
}
